<!-- <h1>{{title}}</h1><h2>{{hero}} details!</h2> -->

<!--<h1>{{title}}</h1><h2>{{hero.name}} details!</h2>-->
<!--<div>-->
  <!--<label>name: </label>-->
  <!--<input [(ngModel)]="hero.name" placeholder="name">-->
  <!--<p>name = {{hero.name}}</p>-->
<!--</div>-->




<ul class="heroes">
  <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero">
    <span class="badge" (click)="onSelect(hero)">{{hero.id}}</span> {{hero.name}}
  <li>
</ul>

<hero-detail [hero]="selectedHero"></hero-detail>

